
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  padding: 80px;
}

/* Nagłówek */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header img {
  height: 50px;
  width: auto;
}

.buttons {
  display: flex;
  gap: 15px;
}

.button-container {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 50%;
  padding: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, background-color 0.3s;
}

.button-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #d9d9d9;
}

.button-container.font-increase img {
  height: 30px;
  width: auto;
}

.button-container img {
  max-width: 100%;
  max-height: 100%;
}

/* Font Scale Info */
.font-scale-info {
  position: absolute;
  top: -20px;
  font-size: 14px; /* stała wielkość czcionki, aby nie zwiększała się po użyciu przycisku */
  font-weight: bold;
  color: #222;
  text-align: center;
  line-height: 1;
  transform: scale(1); /* zapobieganie skalowaniu */
}

/* Main Content */
.main {
  padding: 32px;
}

.main-container {
  display: flex;
  gap: 2rem;
  /*max-width: 1200px;*/
}

/* Sidebar */
.sidebar {
  width: 300px;
  min-height: 600px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

/* Schedule */
.schedule-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.schedule-grid {
  flex: 1;
  min-height: 500px;
  border-radius: 8px;
}

/* Sidebar Search Form */
.search-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 16px;
}

.search-form label {
  font-weight: bold;
  font-size: 0.9rem;
  color: #555;
}

.search-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Przyciski - Szukaj, Strzałki, Dzisiaj, Dzień, Tydzień, Miesiąc */
.search-button,
.nav-button,
.today-button,
.view-button,
.reset-button {
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem;
}

.search-button:hover,
.nav-button:hover,
.today-button:hover,
.view-button:hover,
.reset-button:hover {
  background-color: #3f51b5;
}

/* Przycisk 'Wyczyść' */
.reset-button {
  background-color: #ec7f88;
  color: #721c24;
}

.reset-button:hover {
  background-color: #f45a69;
}

/* Schedule Header */
.schedule-header {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 8px;
}

.left-nav,
.center-nav,
.right-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.center-nav {
  flex: 1;
  justify-content: center;
}



.current-date {
  font-size: 1.2rem;
  font-weight: bold;
}

/* View Buttons */
.view-buttons {
  display: flex;
  gap: 10px;
}

.view-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.view-button:hover {
  background-color: #5a6268;
}

/* Responsywność dla urządzeń mobilnych */
@media (max-width: 1024px) {
  body {
    padding: 8px;
  }

  .header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .header img {
    height: 50px;
    width: auto;
  }

  .main {
    padding: 16px;
  }

  .main-container {
    flex-direction: column;
    gap: 1rem;
  }

  .sidebar {
    width: 100%;
    min-height: auto;
  }

  .schedule-container {
    width: 100%;
    overflow: hidden;
  }

  .current-date {
    font-size: 0.8rem;
  }

  .view-buttons {
    display: flex;
    flex-direction: column;
  }

  .schedule-grid {
    min-height: 350px;
  }

  .search-form {
    padding: 8px;
  }

  .search-form input {
    font-size: 0.8rem;
  }

  .search-form label {
    font-size: 1rem;
  }

  .form-buttons {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 5rem;
  }

  .form-buttons button {
    font-size: 1.6rem;
  }

  .search-button,
  .nav-button,
  .today-button,
  .view-button,
  .reset-button {
    padding: 5px 11px;
    font-size: 1.6rem;
  }

  .current-date {
    font-size: 1.6rem;
  }

}

/* Responsywność dla średnich ekranów */
@media (max-width: 768px) {
  .search-button,
  .nav-button,
  .today-button,
  .view-button,
  .reset-button {
    padding: 13px;
    font-size: 0.8rem;
  }

  .header img {
    height: 30px;
    width: auto;
  }

  .form-buttons button {
    font-size: 1rem;
  }

  .current-date {
    font-size: 1rem;
  }

}

/* CALENDAR LIGHT MODE */

#calendar {
  background-color: #fff;
  border-radius: 5px;
}

#calendar .fc-toolbar {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}

#calendar .fc-view-harness {
  margin-top: 10px;
  max-height: 700px;
}

/* Kolor tła przycisków */
.fc .fc-button-primary {
  background-color: #5c6bc0;
  border-color: #3f51b5;
  color: #fff;
}

.fc .fc-button-primary:hover {
  background-color: #3f51b5;
}

.fc .fc-toolbar-title {
  font-size: 1em;
  margin: 0;
}
